
@model UserView

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        BigButton.me
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:300">
    <link rel="stylesheet" href="~/css/site.css?@DateTime.Now.Ticks">
    <script type="text/javascript" src="~/js/User.js?@DateTime.Now.Ticks"></script>
    <script>
        let UserName = "@Model.UserName";
        let PayeeName = "@Model.PayeeName";
        let BaseValue = @Model.Price;
        let lastClickCount = @Model.ClickCount;
    </script>
</head>

<body onload="body_onload();">
    <div class="main-div">

        <a href="/Home/ButtonClick/@Model.UserName" target="_blank" class="button-anchor">
            <div class="button-div">
                <div id="UserNameDiv" class="button-txt-one">- bigbutton.me/@Model.UserName - </div>
                <img id="ButtonImage" src="/img/PPL06.png" class="button-img-one" />
                <div id="ClickCounter" class="button-txt-one">Click Counter: @Model.ClickCount.ToString("000,000,000") </div>
            </div>
        </a>

        <div id="LastClickedDiv">
            <p id="LastClickedDateTimeLabel">Last Clicked Time</p>
            <p id="LastClickedDateTime">-------------------------</p>
            <img src="/img/refresh.png" class="refreshImage" onclick="RotateImages()" />
        </div>


        <p style="height:10px;">&nbsp;</p>

        <p>
            <b>Click My Big Button!</b> A Big Button is a <b>must-have</b> enhancement to your
            <b>PayPal.me link.</b>
        </p>

        <p>
            A <b>Big Button</b> Features <b>Cool Graphics,</b> a handy <b>Click Counter,</b> and a baked in
            <b>Referral Plan.</b>
        </p>

        <p>
            <b>Your Big Button</b> is designed to turn your <b>paypal.me</b> account into a <b>Money Magnet!</b>
        </p>

        <p>
            <b>You are paid $@Model.Price</b> for every other sale your big button generates. <b>(2, 4, 6, 8, 10,...)</b>
        </p>

        <p>
            <b>And $@Model.Price </b> for every other sale those sales generate.  <b>(1, 3, 5, 7, 9,...)</b>
        </p>

        <p>
            <b>And for every other sale those sales generate.</b>
        </p>

        <p>
            <b>And for every other sale those sales generate.....</b>
        </p>

        <p>
            <b><a href="https://paypal.me/" target="_blank">Click Here</a></b> to sign up for
            your <b>FREE PayPal.me link.</b>
        </p>

        <p>
            <b><a href="https://paypal.me/@Model.NextPayeeName/@Model.Price" target="_blank">Click Here</a></b>
            to claim your <b>Big Button</b> for only <b>$@Model.Price</b>.
        </p>

        <p>
            <b>PayPal</b> will email you a receipt. Copy the <b>Transaction ID</b> and paste it here...
        </p>

        <input id="transid_input" type="text" />
        <button onclick="validate();" class="paypal-button">GO</button>


    </div>
</body>
</html>
